PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/encurtador
JWT_SECRET=troque-este-segredo
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:4200
ADMIN_EMAIL=admin@encurtador.local
ADMIN_PASSWORD=troque-esta-senha-admin
